Automated Customer Email Replies.json
{
  "name": "Automated Customer Email Replies",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "15532ac4-fed0-4d6a-8846-b5fac358121a",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -32
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.4
        },
        "requestOptions": {}
      },
      "id": "4aea8f2c-3bce-487b-b1c1-f32d246a3711",
      "name": "OpenAI Draft Reply",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        144,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $('OpenAI Draft Reply').item.json.message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8ebed49f-3067-48de-b681-3d2a6333c7f6",
      "name": "Gmail Send Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        368,
        -32
      ],
      "webhookId": "823a4bfa-5b0e-417a-8a7f-24f71c08d5bc"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Draft Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Draft Reply": {
      "main": [
        [
          {
            "node": "Gmail Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "755f916c-dc7c-4ae9-ae7d-229b1b30bdd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "869ac2fb4f384629b73fcfb653e7853b6a17cc62a8cfbd2f7de238f135b53ba6"
  },
  "nodeGroups": [],
  "id": "AKDqS9DRTK26wuug",
  "tags": []
}